@model IEnumerable<ParkingFloorViewModel>
@using Web.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddParkingFloor">New Parking Floor</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Parking Lot Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSpots)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingLotId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingSpots.ToList().Count)
                </td>
                <td>
                    <a asp-action="DeleteParkingFloor" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<h3 style="color: red;">
    @ViewBag.NoLotMessage
</h3>