@model IEnumerable<ParkingLotViewModel>
@using Web.Models

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="AddParkingLot">New Parking Lot</a>
</p>
<p>
    <a asp-action="AddParkingFloor" asp-controller="ParkingFloor">New Parking Floor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingFloors)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingFloors.ToList().Count)
</td>
                <td>
                    <a asp-action="EditParkingLot" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="DeleteParkingLot" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
